upstream user_api {
    zone user_api 64k;
    server ${USER_HOST}:${USER_APP_PORT};
}

upstream user_api_actuator {
    zone user_api 64k;
    server ${USER_HOST}:${USER_ACTUATOR_PORT};
}

upstream ui_api {
    zone ui_api 64k;
    server ${UI_HOST}:${UI_APP_PORT};
}