<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

    <div>
        <h1>Sign-in</h1>
        <div id="signup">0</div>
        
        <p>User Name</p>
        <textarea id="user_name" rows="2" cols="100"></textarea>

        <p>Password</p>
        <textarea id="password" rows="1" cols="100"></textarea>

        <button id="Login">Login</button>
    </div>

</body>
</html>